<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/likes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>

<body>

    <%- include('navbar.ejs') -%>


    <div class="section">
        <div class="container productCont">
            <div class="title">
                <h2>My Favorite Products</h2>
                <p>I Like And Save This Products</p>
            </div>
            <div class="boxes">

                <% for(let i=0; i < likesProduct.length; i++) { %>
                        <div class="card" id="<%= likesProduct[i].product_id %>">
                            <div class="img">
                                <div class="icons">
                                    <i class="fa-regular fa-user getProductUser"></i>
                                    <i class="fa-solid fa-heart like"></i>
                                </div>
                                <img src="images/upload/<%=likesProduct[i].img%>" alt="Notebook">
                            </div>
                            <div class="content">
                                <h3>
                                    <%=likesProduct[i].product_name%>
                                </h3>
                                <p>$<%=likesProduct[i].price%>
                                </p>

                                <button class="delButton">delete</button>
                                <div class="infoBox">
                                    <i class="fa-solid fa-xmark closeProductInfo"></i>
                                    <div class="info">
                                        <p><%= likesProduct[i].likesuser_id === id ? 'This yours' : 'name: '+likesProduct[i].author_name%></p>
                                        <% if(likesProduct[i].likesuser_id !== id) {%>
                                        <p>email: <%= likesProduct[i].author_email %></p>
                                        <% } %> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
            </div>
        </div>
    </div>

    <script defer src="./scripts/likesProduct.js"></script>
</body>
</html>