<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
    <div class="section backgroundLoginRegister">
        <form action="/register" method="post" autocomplete="off">
            <h3>Register</h3>
            <div class="bottom">
                <div class="inputs">
                    <label>
                        <% if(nameBool) { %>
                            <input type="text" class="err" placeholder="enter your name" name="name" value="<% if(emailBool || passwordBool || nameBool) { %><%= name.trim() %><% } %>" required>
                        <% } %>

                        <% if(!nameBool) { %>
                            <input type="text" placeholder="enter your name" name="name" value="<% if(emailBool || passwordBool || nameBool) { %> <%= name.trim() %><% } %>" required>
                        <% } %>
                        <i class="fa-regular fa-envelope"></i>
                    </label>
                    <label>
                        <% if(emailBool) { %>
                            <input type="email" class="err" placeholder="enter your email" name="email" value="<% if(emailBool || passwordBool || nameBool) { %> <%= email.trim() %><% } %>" required>
                        <% } %> 
                        <% if(!emailBool) { %>
                            <input type="email" placeholder="enter your email" name="email" value="<% if(emailBool || passwordBool || nameBool) { %> <%= email.trim() %><% } %>" required>
                        <% } %> 
                        <i class="fa-regular fa-envelope"></i>
                    </label>
                    <% if(passwordBool) {%>
                        <label>
                            <input type="password" class="err" placeholder="password" value="<% if(emailBool || passwordBool || nameBool) { %><%=password[0].trim() %><% } %>" name="password">
                            <i class="fa-regular fa-eye-slash passIcon"></i>
                        </label>
                        <label>
                            <input type="password" class="err" placeholder="repeat password" value="<% if(emailBool || passwordBool || nameBool) { %><%=password[1].trim()%><%}%>" name="password">
                            <i class="fa-regular fa-eye-slash passIcon"></i>
                        </label>
                    <% } %>

                    <% if(!passwordBool) {%>
                        <label>
                            <input type="password" placeholder="password" value="<% if(emailBool || passwordBool || nameBool) { %><%=password[0].trim() %><% } %>" name="password">
                            <i class="fa-regular fa-eye-slash passIcon"></i>
                        </label>
                        <label>
                            <input type="password" placeholder="repeat password" value="<% if(emailBool || passwordBool || nameBool) { %><%=password[1].trim() %><% } %>" name="password">
                            <i class="fa-regular fa-eye-slash passIcon"></i>
                        </label>
                    <% } %>
                    
                </div>
                <button type="submit">Register</button>
                <p class="bottomText">A mamber? <a href="/login">Sing In</a></p>
            </div>
        </form>
    </div>

    <script src="./scripts/register.js"></script>
</body>
</html>